*~
/ac-comphist.dat
/bookmarks
/elpa/
/ido.last
/projectile-bookmarks.eld
/smex-items
/recentf
/irony
/games/
/projectile.cache
/eshell
/abbrev_defs
/custom.el
/.python-environments/
/company-statistics-cache.el
